h2 {
    color: #808080;
    font-weight: 100;
  }

  .inwardItemDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    .popup-overlay {
      position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 25px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        z-index: 9999;
        /* Additional styles for the popup */
        /* Adjust width, height, colors, etc. as needed */
        width: 1000px;
        max-width: 90%;
        height: 500px;
    } 

        .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .floatRight{
          float: right;
        }

        .spaceAround{
          margin: 10px;
          padding: 10px;
          position: absolute;
        }
